.horizRow {
    display: flex;
    overflow-x: auto;
    gap: 14px;
    // padding: 1rem;
    padding: 2rem 0.8rem;
    // backdrop-filter: blur(22px);

    &::-webkit-scrollbar {
        display: none;
    }

    .poster {
        transition: all 700ms;

        // filter: drop-shadow(0 0 0.1rem rgb(56, 219, 248));
        img {
            min-width: 12vw;
            min-height: 18vh;
            border-radius: 6px;
            transition: scale 900ms ease-in-out;
            transition: transform 600ms linear;
        }
    }
}

// Animate
.horizRow:focus-within .poster,
.horizRow:hover .poster {
    transform: translateX(-25%);
    z-index: 70;
}

.poster:focus~.poster,
.poster:hover~.poster {
    transform: translateX(25%);
}

.horizRow .poster:focus,
.horizRow .poster:hover {
    transform: scale(1.2);
}

// Closed

.title {
    text-transform: capitalize;
}

.rowSkeleton {
    display: flex;
    overflow-x: hidden;
    gap: 14px;
    padding: 0.5rem;

    div {
        min-width: 10vw;
        height: 20vh;
        border-radius: 6px;
        transition: all 900ms;
        background: rgba(255, 255, 255, 0.13);
        animation: opacify 900ms infinite ease-in-out alternate;
    }
}

@keyframes opacify {
    from {
        // background: rgba($color: #ffffff, $alpha: 0.3);
        opacity: 0.4;
    }

    to {
        // background: rgba($color: #ffffff, $alpha: 0.1);
        opacity: 0.6;
    }
}

.loadText {
    background: rgba(255, 255, 255, 0.13);
    border-radius: 6px;
    width: 10%;
    height: 30px;
    margin: 0.5rem;
    animation: opacify 900ms infinite ease-in-out alternate;
}