.recentBg0 {
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    max-height: 100vh;
    position: relative;
    color: white;
    // filter: blur(5px);
    // -webkit-filter: blur(.5rem);
    /* box-shadow: inset 0 0 0 0 rgba(5, 5, 5, 0.3); */
    box-shadow: inset 0 0 0 110vh rgba(0, 0, 0, 0.664);
    min-width: 100vw;
    width: 100%;
}

// iframe {
//     max-width: 100% !important;
//     width: 90vw !important;
//     height: 25vh !important;
// }
iframe{
    aspect-ratio: 16/9;
}
// .blur {
//     // filter: blur(.5rem);
//     // -webkit-filter: blur(.5rem);
//     height: 100%;
//     backdrop-filter: blur(.5rem);
// }

.castArea {
    &::-webkit-scrollbar {
        visibility: hidden;
    }
}

.itemWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 16px;
    align-items: flex-start;
    justify-content: flex-start;

    .info {
        width: 66%;

        .texts {
            width: auto;
            flex: 1;
            display: flex;
            flex-direction: column;
            max-width: 60%;
            min-width: 300px;
        }

        .castWrapper {
            display: flex;
            min-width: inherit;
            gap: 8px;
            overflow-x: auto;

            &::-webkit-scrollbar {
                visibility: hidden;
            }

            div {
                img {
                    min-width: 64px;
                    min-height: 64px;
                }

            }
        }
    }

    i {
        color: #ffbb00;
        padding-top: 6px;
    }

    .moviePoster {
        flex: 1;
        max-width: 33%;

        img {
            // flex: 1;
            border-radius: 16px;
            filter: drop-shadow(0 0 .25rem white);
            max-height: 70vh;
            min-height: 40vh;
            min-width: 300px;
        }
    }

}

.poster {
    border-radius: 16px !important;
}

.roundBtn {
    border-radius: 50%;

    &:first-child {
        color: aquamarine;

        &:hover {
            color: #ffbb00;
        }
    }

    &:last-child {
        color: rgb(255, 42, 42);

        &:hover {
            color: rgb(255, 217, 0);
        }
    }
}

.castScroll {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
        border-radius: 50%;

        i {
            color: #fff;
            font-weight: 900;
        }
    }
}

// Loader Green
.load {
    --shadow-color: rgb(0, 255, 170);
    background: transparent;
    // width: 100%;
    height: 36;
    // padding: 1.5rem;

    div {
        filter: drop-shadow(0 0 20px var(--shadow-color));
        height: 26px;
        width: 14%;
        // background: linear-gradient(to right, rgba(255, 255, 255, 0.363),rgb(156, 255, 156),rgba(255, 255, 255, 0.438));
        background: linear-gradient(to right, rgba(255, 255, 255, 0.274), rgb(0, 217, 255), #56fc7a);
        border-radius: 14px;
        animation: load 5s linear alternate infinite;
    }
}

@keyframes load {
    16% {
        width: 25%;
        filter: drop-shadow(0 0 16px var(--shadow-color));
    }

    32% {
        width: 40%;
        filter: drop-shadow(0 0 12px var(--shadow-color));
    }

    50% {
        width: 50%;
        filter: drop-shadow(0 0 14px var(--shadow-color));
    }

    65% {
        width: 65%;
        filter: drop-shadow(0 0 20px var(--shadow-color));
    }

    80% {
        width: 80%;
        filter: drop-shadow(0 0 24px var(--shadow-color));
    }

    89% {
        width: 89%;
        filter: drop-shadow(0 0 26px var(--shadow-color));
    }

    100% {
        width: 100%;
        filter: drop-shadow(0 0 22px var(--shadow-color));
    }
}