@import url('https://fonts.googleapis.com/css2?family=Abel&family=Gloria+Hallelujah&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,200;1,500;1,900&family=Poor+Story&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');
@import url("https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Available Fonts:
font-family: 'Abel', sans-serif;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Kanit', sans-serif;
font-family: 'Poor Story', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Righteous', cursive; */
body {
    margin: 0;
    font-family: 'Abel', cursive;
    background: #111;
    scroll-behavior: smooth !important;

    button {
        outline: none;
    }
}

// Error Bar
.errBar {
    background: linear-gradient(to right, transparent, rgb(255, 33, 33), rgb(255, 94, 94), transparent);
    z-index: 101;
}

body::-webkit-scrollbar {
    display: none;
}

.LazyLoad {
    opacity: 0;
    transition: all 1s ease-in-out;
}

.is-visible {
    opacity: 1;
}

.activePg>a {
    background: #42fc5b;
    border-radius: 4px;
    padding: 6px;
    color: black;
    font-style: 'Poppins', 'cursive';
    font-weight: 600;
}

.mypagination {
    z-index: 104;
    ul {
        font-family: "Poppins", 'serif';
        padding-top: 1rem;
        background: #3313004b;
        border-radius: 6px;
        padding-bottom: -18px !important;

        li {
            &:first-child {

                a {
                    background: transparent;

                    &:hover {
                        background: transparent;
                        color: rgb(255, 0, 64);
                    }
                }
            }

            &:last-child {

                a {
                    background: transparent;

                    &:hover {
                        background: transparent;
                        color: rgb(0, 255, 128);
                    }
                }
            }

            a {
                padding: 2px 6px;
                border-radius: 6px;
                font-weight: 700;

                &:hover {
                    background: rgba($color: #fff, $alpha: 0.8);
                    color: #000;
                }
            }
        }
    }
}

// SearchResult.jsx
.text {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 75%;
    display: none;
}
.resultImg{
    transition: all 900ms;
    cursor: pointer;
    &:hover{
        transform: scale(1.1);
        z-index: 6;
        img{
           opacity: 0.3;
        }
        .text{
            display: block;
            color: #fff;
            &:hover{
                color: #ff7525;
            }
        }
    }
    .overview{
        max-height: 200px;
        overflow-y: hidden;
    }
}