body {
    margin: 0;
    font-family: 'Abel', cursive;
    background: #111;
    scroll-behavior: smooth !important;

    button {
        outline: none;
    }
}

:root {
    background: #111;
    --theme-color: #111;
}

// Native CSS method testing via overriding classes
.lightMode {
    background: rgb(36, 36, 36);
    --theme-color: rgb(37, 37, 37);

    *{
        color: #fff;
    }

    .text-white {
        color: #000 !important;
    }

    .movieCard {
        .text-white {
            color: #fff !important;
        }
    }
}

// testclass
.test {
    color: #42fc5b;
}

// Error Bar
.errBar {
    background: linear-gradient(to right, transparent, rgb(255, 33, 33), rgb(255, 94, 94), transparent);
    z-index: 101;
}

// redColor
.red {
    color: red;
}

// hide scrollbar
body::-webkit-scrollbar {
    display: none;
}

// // Lazyload react
// .LazyLoad {
//     opacity: 0;
//     transition: all 1s ease-in-out;
// }

// .is-visible {
//     opacity: 1;
// }

// React-Pagination
.activePg>a {
    background: #42fc5b;
    border-radius: 4px;
    padding: 6px;
    color: black;
    font-style: 'Poppins', 'cursive';
    font-weight: 600;
}

.mypagination {
    z-index: 104;

    ul {
        font-family: "Poppins", 'serif';
        padding-top: 1rem;
        background: #3313004b;
        border-radius: 6px;
        padding-bottom: -18px !important;

        li {
            &:first-child {

                a {
                    background: transparent;

                    &:hover {
                        background: transparent;
                        color: rgb(255, 0, 64);
                    }
                }
            }

            &:last-child {

                a {
                    background: transparent;

                    &:hover {
                        background: transparent;
                        color: rgb(0, 255, 128);
                    }
                }
            }

            a {
                padding: 2px 6px;
                border-radius: 6px;
                font-weight: 700;

                &:hover {
                    background: rgba($color: #fff, $alpha: 0.8);
                    color: #000;
                }
            }
        }
    }
}

// MovieCard.jsx
.text {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 75%;
    display: none;
}

.resultImg {
    transition: all 900ms;
    cursor: pointer;

    img {
        aspect-ratio: 2/3;
    }

    &:hover {
        // transform: scale(1.1);
        background-color: rgba($color: #000000, $alpha: 1.0);
        z-index: 6;

        img {
            opacity: 0.4;
        }

        .text {
            display: block;
            color: #fff;

            &:hover {
                color: #ffbe98;
            }
        }
    }

    .overview {
        max-height: 200px;
        overflow-y: hidden;
    }
}